---
// Dependencies
import { Image } from "astro:assets";

// Components
import Layout from "../../../../layouts/Layout.astro";
import Skill from "../../../../components/utils/Skill.astro";

// Services
import {
  getProjectById,
  getProjectsUniqueTexts,
} from "../../../../lib/utils/api.utils";
import { ENV } from "../../../../lib/config/env";

export const prerender = false;

const { lang, id } = Astro.params;

const [dataProjects, dataProjectsUniqueTexts] = await Promise.all([
  getProjectById(Number(id), lang),
  getProjectsUniqueTexts(lang),
]);

const { data } = dataProjects;
const { data: resDataUniqueTexts } = dataProjectsUniqueTexts;

const dataTranslation = data.translations[0];
const dataUniqueTexts = resDataUniqueTexts.translations[0];
---

<Layout
  description={dataTranslation.about}
  image={`${ENV.CMS_ASSETS_URL}/${data.thumbnail}?format=webp&quality=80`}
  title={`${data.title} | Daniel Yepes`}
>
  <section
    class="container mx-auto px-4 md:px-12 py-16 mt-24 justify-end flex flex-col gap-4"
  >
    <span
      class="px-5 py-4 w-fit border border-primary-2 rounded-full text-primary-2 font-satoshi"
    >
      CASE STUDY
    </span>
    <h2 class="text-4xl md:text-6xl">{data.title}</h2>
    <div
      class="flex justify-between flex-col md:flex-row gap-8 md:gap-12 lg:gap-24 mt-8 font-satoshi"
    >
      <div class="flex-1 flex flex-col gap-4">
        <h5 class="text-xl md:text-2xl lg:text-3xl">
          {dataUniqueTexts.text_about}
        </h5>
        <hr />
        <p class="text-lg lg:text-xl text-primary-2">
          {dataTranslation.about}
        </p>
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h5 class="text-xl md:text-2xl lg:text-3xl">
          {dataUniqueTexts.text_skills_applied}
        </h5>
        <hr />
        <div class="flex flex-wrap gap-4">
          {
            data.skills.map((skill: any) => {
              return <Skill>{skill.skills_id.name}</Skill>;
            })
          }
        </div>
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h5 class="text-xl md:text-2xl lg:text-3xl">
          {dataUniqueTexts.text_industry}
        </h5>
        <hr />
        <p class="text-lg lg:text-xl text-primary-2">
          {dataTranslation.industry}
        </p>
      </div>
    </div>
  </section>
  <section class="container mx-auto px-4 md:px-12 py-16 flex flex-col gap-4">
    <div class="flex flex-wrap gap-4">
      {
        data.gallery.map((item: any) => {
          return (
            <Image
              decoding="async"
              format="webp"
              src={`${ENV.CMS_ASSETS_URL}/${item.directus_files_id}?format=webp&quality=80`}
              alt={data.title}
              class="w-full lg:w-[calc(50%-1rem)] object-cover rounded-xl"
              width={400}
              height={400}
            />
          );
        })
      }
    </div>
  </section>
</Layout>
