---
// Dependencies
import { Image } from "astro:assets";

// Components & Layouts
import Layout from "../../../layouts/Layout.astro";

// Assets
import meWorking from "../../../assets/me-working.jpg";
import Skill from "../../../components/utils/Skill.astro";
import Button from "../../../components/utils/Button.astro";

// Utils
import { ENV } from "../../../lib/config/env";

export const prerender = false;

const [about, aboutText, education, skills, certifications, workExperience] =
  await Promise.all([
    fetch(`${ENV.CMS_ITEMS_URL}/aboutme/1`).then((res) => res.json()),
    fetch(`${ENV.CMS_ITEMS_URL}/about_texts`).then((res) => res.json()),
    fetch(`${ENV.CMS_ITEMS_URL}/education?fields[]=*,skills.*.*`).then((res) =>
      res.json()
    ),
    fetch(`${ENV.CMS_ITEMS_URL}/skills?fields[]=*,skills.*.*`).then((res) =>
      res.json()
    ),
    fetch(`${ENV.CMS_ITEMS_URL}/certifications`).then((res) => res.json()),
    fetch(`${ENV.CMS_ITEMS_URL}/work_experience?fields[]=*,skills.*.*`).then(
      (res) => res.json()
    ),
  ]);

const { data } = about;
const { data: dataText } = aboutText;
const { data: dataEducation } = education;
const { data: dataSkills } = skills;
const { data: dataCertifications } = certifications;
const { data: dataWorkExperience } = workExperience;

console.log(workExperience);

const { lang } = Astro.params;
const dateTimeFormat = lang === "es" ? "es-CO" : "en-US";
---

<Layout>
  <section class="container mx-auto py-32 pb-12 md:pb-32 px-4 md:px-8">
    <!-- About Section -->
    <div class="flex justify-between gap-8 flex-col sm:flex-row items-center">
      <div
        class="flex-1 flex flex-col gap-4 order-2 lg:order-1 text-center sm:text-start"
      >
        <span
          class="uppercase text-xl text-primary-2 rounded-full px-5 py-4 border border-primary-2 w-fit font-satoshi self-center sm:self-start"
          >{data.title}</span
        >
        <div>
          <h2 class="text-4xl md:text-5xl">Daniel Yepes</h2>
          <p class="text-primary-2 text-xl font-satoshi">{data.career}</p>
        </div>

        <p
          set:html={data.description}
          class="text-xl md:text-2xl font-satoshi max-w-[650px] text-pretty"
        />
      </div>
      <Image
        class="flex-1 max-w-[200px] max-h-[200px] sm:max-h-full md:max-w-[400px] md:max-h-[400px] object-cover rounded-3xl shadow-2xl order-1 lg:order-2"
        src={meWorking}
        alt="Me"
      />
    </div>
    <!-- Work Experience -->
    <div class="py-32 pb-16 md:pb-32">
      <h2 class="text-3xl md:text-4xl pb-4">{dataText.text_work_experience}</h2>
      <hr />
      <div>
        <ol class="relative border-s border-primary-3 mt-8">
          {
            dataWorkExperience.map((item: any) => {
              return (
                <li class="mb-10 ms-4 font-satoshi">
                  <div class="absolute w-3 h-3 bg-primary-3 rounded-full mt-1.5 -start-1.5 border border-white" />
                  <time class="mb-1 text-md font-normal leading-none text-primary-2 capitalize">
                    {new Intl.DateTimeFormat(dateTimeFormat, {
                      month: "long",
                      year: "numeric",
                    }).format(new Date(item.start_date))}{" "}
                    -{" "}
                    {item.end_year
                      ? new Intl.DateTimeFormat(dateTimeFormat, {
                          month: "long",
                          year: "numeric",
                        }).format(new Date(item.end_year))
                      : lang === "es"
                        ? "Ahora"
                        : "Now"}
                  </time>
                  <h3 class="text-2xl font-semibold text-primary-1">
                    {item.position} at {item.company}
                  </h3>
                  <div class="flex flex-col gap-4">
                    <p
                      class="text-lg font-normal text-primary-2 max-w-[600px]"
                      set:html={item.description}
                    />
                    <div class="max-w-[600px] flex gap-4 flex-wrap">
                      {item.skills.map((skill: any) => {
                        return <Skill>{skill.skills_id.name}</Skill>;
                      })}
                    </div>
                  </div>
                </li>
              );
            })
          }
        </ol>
      </div>
    </div>
    <!-- Education -->
    <div class="pb-16 md:pb-32">
      <h2 class="text-3xl md:text-4xl pb-4">{dataText.text_education}</h2>
      <hr />
      <div class="flex flex-col gap-10 mt-8">
        {
          dataEducation.map((item: any) => {
            return (
              <div class="font-satoshi flex gap-1 flex-col">
                <span class="text-sm text-primary-2">
                  {item.start_year} - {item.end_year}
                </span>
                <h3 class="text-lg text-primary-1">{item.course}</h3>
                <p class="text-xl">
                  <b class="text-primary-1">{item.school}</b>
                  {item.city ? ` - ${item.city}` : ``}
                </p>
                <div class="flex gap-4 flex-wrap max-w-[600px]">
                  {item.skills.map((skill: any) => {
                    return <Skill>{skill.skills_id.name}</Skill>;
                  })}
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
    <!-- Certifications -->
    <div class="pb-16 md:pb-32">
      <h2 class="text-3xl md:text-4xl pb-4">{dataText.text_certification}</h2>
      <hr />
      <div class="flex flex-col gap-8 mt-8">
        {
          dataCertifications.map((item: any) => {
            return (
              <a
                href={item.url}
                target="_blank"
                class="flex gap-4 items-center justify-between max-w-[500px] font-satoshi hover:scale-105 transition-all duration-300"
              >
                <div>
                  <h3 class="text-xl font-bold">{item.course}</h3>
                  <p class="text-primary-2">{item.issued_by}</p>
                </div>
                <Button icon="increase" />
              </a>
            );
          })
        }
      </div>
    </div>
    <!-- Skills -->
    <div class="pb-4 md:pb-32">
      <h2 class="text-3xl md:text-4xl pb-4">{dataText.text_skills}</h2>
      <hr />
      <div class="flex flex-wrap gap-4 mt-8">
        {
          dataSkills.map((item: any) => {
            return <Skill>{item.name}</Skill>;
          })
        }
      </div>
    </div>
  </section>
</Layout>
