---
// Dependencies
import { Image } from "astro:assets";

// Components
import Skill from "../utils/Skill.astro";
import Button from "./Button.astro";
import { ENV } from "../../lib/config/env";

interface Props {
  id: number;
  title: string;
  translations: [{ title: string; about: string }];
  thumbnail: string;
  skills: any[];
}

const { lang } = Astro.params;
const { thumbnail, skills, id, translations, title } = Astro.props;
---

<a href={`/${lang}/projects/${id}`}>
  <article
    class="relative flex flex-col lg:flex-row gap-4 md:gap-6 lg:items-center border-b border-gray-300 pb-6 md:pb-10"
  >
    <Image
      src={`${ENV.CMS_ASSETS_URL}/${thumbnail}?format=webp&quality=80`}
      alt="Recent Project Default"
      width={20}
      height={20}
      format="webp"
      decoding="async"
      class="max-h-[300px] md:w-2/3 lg:w-auto rounded-xl"
    />
    <div class="flex flex-col gap-2 md:gap-4">
      <h2 class="text-xl md:text-3xl font-bold font-satoshi">
        {title}
      </h2>
      <ul class="flex gap-2 text-xl flex-wrap">
        {
          skills.map((skill: any) => (
            <li>
              <Skill>{skill.skills_id.name}</Skill>
            </li>
          ))
        }
      </ul>
      <div class="flex gap-4 items-center flex-col md:flex-row">
        <p class="text-lg sm:text-xl md:text-2xl w-fit font-satoshi">
          {translations[0].about}
        </p>
        <Button icon="arrow-right-up" />
      </div>
    </div>
  </article>
</a>
